:root {
  --calendarGutter: 300px;
}

.App {
  text-align: center;
}

.test {
  height: calc(100vh - 410px);
  overflow: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.calendar-container {
  height: calc(100vh - 120px);
  margin: 0 auto;
  padding: 10px;
}

.calendar-picker-div {
  display: flex;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  #leftdrawer > div {
    position: static;
    width: auto;
  }
  .calendar-container {
    margin-left: 0 !important;
    height: auto;
  }
}
